.video-content {
	position: relative;
	background-color: var(--base-black);
	video {
		opacity: 0.5;
		width: 100%;
		height: 100%;
		background-color: black;
	}
	video.playing {
		opacity: 1;
		+ .video-play {
			display: none;
		}
	}
	.video-play {
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.video-close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		z-index: 10;
		cursor: pointer;
		display: none;
	}
}
.yt-container {
	iframe {
		width: 100%;
		height: 100%;
	}
}

.section-content.fixed-video {
	transform: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	.container-fluid-width {
		height: 100%;
		padding: 0;
		width: 100%;
		min-width: 0;
		max-width: none;
	}
	.video-content {
		height: 100%;
	}
	.video-close {
		display: block;
	}
}
