.privacy-statement {
	--privacy-adjustment: 0rem;
	padding: 2rem 1.5rem 1.5rem;
	position: fixed;
	bottom: 0;
	z-index: 5000;
	width: 45rem;
	max-width: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: left;
	.container-fluid-width {
		padding: 0;
		background-color: white;
		box-shadow: 0px 6px 12px #00000024;
		padding: 1rem 1rem 1rem 1.5rem;
		border-radius: 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
	}
	p {
		margin: 0;
		line-height: 1.5;
	}
	.btn {
		background-color: var(--gray-2);
		border: 0;
		height: auto;
		padding: 1rem 1.15rem;
		line-height: 1;
		flex: 0 0 auto;
		&:hover {
			background-color: var(--base-black);
		}
	}
}

@media only screen and (max-width: 450px) {
	.privacy-statement {
		bottom: 0rem;
		font-size: 0.75rem;
	}

	.privacy-statement.with-widget {
		bottom: 5rem;
	}
}
